@charset 'UTF-8';

// 1.Config


// 2.Base
// Name: Unit-Wrapper
// Description: Wrapper for the grid and clears floating
.l-units {
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  margin-left: -$gutter-width;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;

  &:first-child {
    margin-top: -25px;
  }
}

// Name: Units
// Description: Basic styling for units
[class^="l-u--"],
[class*="l-u--"] {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 25px;
  padding-left: $gutter-width;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
}

// Name: Mobile-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .l-u--#{$i}-#{$sum} {
      @include col($i, $sum);
    }
  }
}

// Name: Small-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .l-u--small-#{$i}-#{$sum} {
      @include respond-to('small') {
        @include col($i, $sum);
      }
    }
  }
}

// Name: Medium-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .l-u--medium-#{$i}-#{$sum} {
      @include respond-to('medium') {
        @include col($i, $sum);
      }
    }
  }
}

// Name: Large-Grid
@for $sum from 1 through $max-cols {
  @for $i from 1 through $sum {
    .l-u--large-#{$i}-#{$sum} {
      @include respond-to('large') {
        @include col($i, $sum);
      }
    }
  }
}